{% extends 'bootstrap/base.html' %}
    {% if title %}
    <title>{{ title }} - Leleko.Ru</title>
    {% else %}
    <title>Без имени - Leleko.Ru</title>
    {% endif %}
    {% block navbar %}
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('example') }}" class="nav-link">Примеры работы</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('example2') }}" class="nav-link">Примеры работы с авторизацией</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('about') }}" class="nav-link">Обо мне</a>
                </li>
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}" class="nav-link">Вход</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('user', username=current_user.username) }}" class="nav-link">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}" class="nav-link">Выход</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ url_for('contactme') }}" class="nav-link">Контакты</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
        <!--div>
            Текущий пользователь: {{ current_user.username }}
        </div-->

    {% block content %}
        <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {# содержимое из блока app_conttent #}
                {% block app_content %}
                {% endblock %}
            {% endwith %}
        </div>
    {% endblock %}



    {% block counters %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(45463110, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/45463110" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endblock %}

</body>
</html>