{% extends 'bootstrap/base.html' %}
    {% if title %}
    <title>{{ title }} - Leleko.Ru</title>
    {% else %}
    <title>Без имени - Leleko.Ru</title>
    {% endif %}
    {% block styles %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    {% block navbar %}
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ url_for('index') }}">Leleko.Ru</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle naviagation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about') }}">Обо мне</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('example') }}">Примеры работы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('example2') }}">Примеры работы с авторизацией</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contactme') }}">Контакты</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav navbar-right">
                            {% if current_user.is_anonymous %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">Вход</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
        <!--div>
            Текущий пользователь: {{ current_user.username }}
        </div-->

    {% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info mt-3" role="alert">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {# содержимое из блока app_conttent #}
                </div>

                {% block app_content %}
                {% endblock %}
            </div>
        </div>
    </main>
    {% endblock %}
    {%  block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}


    {% block counters %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(45463110, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/45463110" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endblock %}