<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
    <title>{{ title }} - Leleko.Ru</title>
    {% else %}
    <title>Без имени - Leleko.Ru</title>
    {% endif %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container-fluid">
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('example') }}" class="nav-link">Примеры работы</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('example2') }}" class="nav-link">Примеры работы с авторизацией</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('about') }}" class="nav-link">Обо мне</a>
                </li>
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}" class="nav-link">Вход</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('user', username=current_user.username) }}" class="nav-link">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}" class="nav-link">Выход</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ url_for('contactme') }}" class="nav-link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div>
            Текущий пользователь: {{ current_user.username }}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

    </div>

    {% block counters %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(45463110, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/45463110" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endblock %}
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>